<section class="hero is-info is-small">
  <div class="hero-body">
    <p class="title">Insert Data</p>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a href="/insert/movies.html">Movies</a></li>
          <li><a href="/insert/tv.html">TV Shows</a></li>
          <li><a href="/insert/books.html">Books</a></li>
          <li><a href="/insert/other.html">Other</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>