<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-active" href="/index.html"><b>HOME</b></a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbar-basic-example" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">My Account</a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/user/profile.html">Profile</a>
          <a class="navbar-item" href="/user/lists.html">Lists</a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Explore</a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/entertainment.html">Entertainment</a>
          <a class="navbar-item" href="/books.html">Books</a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Insert</a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/insert/movies.html">Movies</a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Update</a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/update/series.html">Series</a>
          <a class="navbar-item" href="/update/genre.html">Genre</a>
        </div>
      </div>
    </div>
  </div>
</nav>