/* Your custom styles can go here */

#series-dropdown-wrapper {
  display: none;
}

#new-series-wrapper {
  display: none;
}

#series-order-wrapper{
  display: none;
}


/*.title {
    color: #5e42ad;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }*/